{{define "title"}}Home{{end}}
{{define "main"}}
    <h2>Composers</h2>
    {{range .}}
        <h3>{{.Name}} {{.YearStart}}{{if .YearEnd.Valid}} - {{.YearEnd.Value}}{{end}}</h3>
        <ul>
            {{range .Composers}}
                <li>{{.FirstName}} {{.LastName}}</li>
            {{end}}
        </ul>
    {{else}}
        <p>No periods or composers found.</p>
    {{end}}
{{end}}†